<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Market Skills Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">All Roles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projectManager">ProjectManager</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile/1">Profile</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <form (submit)="addNewRoleLog({role:rol.value, hours:hrs.value})">
    <tr>
      <td><input placeholder="Role / Skill" #rol></td>
      <td><input placeholder="Number of Hours" #hrs></td>
      <td><input type="submit" value="Add"></td>
    </tr>
  </form>

  <br>

  <table>
    <tr>
      <th>Role / Skill</th>
      <th>Hours</th>
    </tr>
    <tr *ngFor="let r of roleLogs; let i=index">
      <td>{{r.role}}</td>
      <td>{{r.hours}}</td>
      <td><button (click)="deleteRoleLog(r.inputID)">X</button></td>
    </tr>
  </table>
  
  <td><button (click)="ReturnCost">Calculate Cost</button></td>