<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Market Skills Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">All Roles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projectManager">ProjectManager</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile/1">Profile</a>
        </li>
      </ul>
    </div>
    <form class="roleFilter" (submit)="getRolesByName(prole.value)">
        <table>
          <tr>
            <td>
              <input placeholder="Filter Roles by Skill" #prole>
            </td>
            <td>
               <button type="submit" class="btn btn-dark">Filter</button>
            </td>
          </tr>
        </table>
      </form>
  </nav>
<div *ngIf="!roles">
  Error: Could not load roles
</div>
<!-- https://www.itjobswatch.co.uk/jobs/uk/agile%20software%20development.do -->
<div *ngIf="roles" class="roles-container">
  <div class="head role-row">
    <div (click)="getRolesByOrder(1)" class="role-column role-head">skill</div>
    <div (click)="getRolesByOrder(2)" class="role-column role-head">Rank</div>
    <div (click)="getRolesByOrder(3)" class="role-column role-head">Rank change</div>
    <div (click)="getRolesByOrder(4)" class="role-column role-head">Median salary</div>
    <div (click)="getRolesByOrder(5)" class="role-column role-head">Median % change</div>
    <div (click)="getRolesByOrder(6)" class="role-column role-head">Historical ads</div>
    <div (click)="getRolesByOrder(7)" class="role-column role-head">Ad %</div>
    <div (click)="getRolesByOrder(8)" class="role-column role-head">Live vacancies</div>
  </div>
  <div class="inner-container">
    <div *ngFor="let role of roles" class="roles">
      <div class="role-row">
        <div class="role-column">
          <a target="_blank" href="https://www.itjobswatch.co.uk/jobs/uk/{{ role.skill }}.do">
            {{ role.skill }}
          </a>
        </div>
        <div class="role-column">{{ role.role_rank }}</div>
        <div class="role-column">
          <span *ngIf="role.rank_change > 0">😃</span>
          <span *ngIf="role.rank_change < 0">😰</span>
          <span *ngIf="role.rank_change == 0">😐</span>
          {{ role.rank_change }}
        </div>
        <div class="role-column">£{{ role.median_salary | number}}</div>
        <div class="role-column">{{ role.median_change }}%</div>
        <div class="role-column">{{ role.historical_ads | number}}</div>
        <div class="role-column">{{ role.ad_percentage }}%</div>
        <div class="role-column">{{ role.live_vacancies | number}}</div>
      </div>
    </div>
  </div>
</div>