.roles-container{
    margin-top: 80px;
}

.head{
    width: 100%;
   top: 40px;
   left: 0;
    position: fixed;
}

nav{
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
}