
<div class="container">
  <div>
    <div class="profile-info">
      <div><label>Name: </label>{{ profile.username }}</div>
      <div><label>Salary: </label>£{{ profile.salary | number }}</div>
      <div *ngIf="didLoadRoles"><label>Skill count: </label>{{ roles.length }}</div>
      <div><label>Rank: </label>{{ profile.profile_rank }}</div>
    </div>
    <div *ngIf="didLoadRoles" class="profile-info">
      <div><label>Expected Salary: </label>£{{ avgSalary | number }}</div>
      <div><label>Max Salary: </label>£{{ maxSalary | number }}</div>
      <div><label>% of Market Salary: </label>{{ percMarketSalary | number }}%</div>
    </div>
    <h4>My Skills:</h4>
    <div class="role-row">
      <div class="role-column role-head">skill</div>
      <div class="role-column role-head">Rank</div>
      <div class="role-column role-head">Rank change</div>
      <div class="role-column role-head">Median salary</div>
      <div class="role-column role-head">Median % change</div>
      <div class="role-column role-head">Historical ads</div>
      <div class="role-column role-head">Ad %</div>
      <div class="role-column role-head">Live vacancies</div>
    </div>
    <div *ngFor="let role of roles" class="roles">
      <div class="role-row">
        <div class="role-column">
          <a target="_blank" href="https://www.itjobswatch.co.uk/jobs/uk/{{ role.skill }}.do">
            {{ role.skill }}
          </a>
        </div>
        <div class="role-column">{{ role.role_rank }}</div>
        <div class="role-column">
          <span *ngIf="role.rank_change > 0">😃</span>
          <span *ngIf="role.rank_change < 0">😰</span>
          <span *ngIf="role.rank_change == 0">😐</span>
          {{ role.rank_change }}
        </div>
        <div class="role-column">£{{ role.median_salary | number}}</div>
        <div class="role-column">{{ role.median_change }}%</div>
        <div class="role-column">{{ role.historical_ads | number}}</div>
        <div class="role-column">{{ role.ad_percentage }}%</div>
        <div class="role-column">{{ role.live_vacancies | number}}</div>
      </div>
  </div>
  <div class="new-skill">
    <form (submit)="addRoleToProfile(profile.profileId, roleId.value)">
      <input class="form-control" type="number" #roleId>
      <button class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>
  <div *ngIf="!profile">
    Error: Could not find user profile!
  </div>
</div>