
<div class="container">
    <div *ngFor="let profile of profiles" class="roles">
        <div class="role-row">
        <div class="role-column">{{ profile.profileRank }}</div>
        <div class="role-column">{{ profile.username }}</div>
        <div class="role-column">{{ profile.salary | number }}</div>
      </div>
    </div>
    <div>
      <a target="_blank" href="https://ess.masteknet.com/Mastek04/HR/TrainingCalendar/TrainingCalendar.aspx">
        Attend more training
      </a>
    </div>
</div>